:root{
    --primary-color: rgb(200, 207, 224);
    --secondary-color: rgb(185, 190, 213);
    background-color: aliceblue;
    --tertiary-color: rgb(215, 234, 251);
    font-family: "Inter", sans-serif;
}
.block{
    background-color: var(--primary-color);
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
}
.rightSide{
    justify-self: right;
}
.smallify{
    display: block;
    justify-self: center;
    width: 50%;
    height: auto;
    margin: 10px;
}
.center{
    justify-self: center;
    text-align: center;
}
header{
    margin: 10px;
}
header div{
    border-radius: 10px;
    background-color: var(--primary-color);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 0.5fr;
    text-align: center;
}
header img{
    width: 100px;
    height: auto;
}
.titleCenter{
    grid-column: 1/5;
}
nav ul{
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
}
nav ul li{
    padding: 10px 0;
    width: 100%;
    background-color: var(--secondary-color);
    margin: 5px auto 0 auto;
    border: 1px solid black;
    list-style: none;
    border-radius: 10px;
}
nav ul li a{
    color: black;
    font-size: large;
    text-decoration: none;
}
.current::after{
    content: "⭐";
}
#nav-button{
    width: 50px;
    height: 50px;
    grid-column: 4/5;
    border: none;
    background: none;
    justify-self: center;
    align-self: center;
}
#nav-button::before{
    content: "\2630";
    font-size: 44px;
    width: 44px;
    height: 44px;
    padding: 3px;
    display: block;
    justify-self: center;
}
#nav-button.show::before {
  content: "\00D7";
  font-size: 44px;
}
.navygate{
    display: none;
}
.navygate.show{
    display: block;
}